# Godot 4+ specific ignores
.godot/
/android/
*.uid
*.import
*.import
Sprites/UVRfY.png.import
Sprites/UVRfY.png.import
Sprites/SlimeTemp.png.import
Sprites/Slime_EC.png.import
Sprites/Hero's Cave - The Legend of Zelda_ Oracle of Seasons (Lets Play Part 1) - YouTube - 0-16-0.png.import
Sprites/GroundedSword_PCAttacks.png.import
Sprites/GroundedKnife_PCAttacks.png.import
Sprites/Block.png.import
Sprites/Ball.png.import
Sprites/AsheNoArms_PC.png.import
Sprites/Ashe_PC.png.import
icon.svg.import
